<% content_for :body_class, 'sign-in' %>

<h1 style='font-size: 2.5em; margin-bottom: 1em; margin-top: .5em'>Hey, you...</h1>

<%= form_with url: session_path, local: true do |f| %>
<div>
    <%= f.label :email, class: 'signin-form-label' %>
    <%= f.email_field :email, class: 'input-field' %>
</div>
<div>
    <%= f.label :password, class: 'signin-form-label' %>
    <%= f.password_field :password, class: 'input-field' %>
</div>

<div class='form-buttons'>
<p><%= f.submit "GO!", class: 'button'%>
<%= link_to "Sign Up", new_user_path, class: 'signup-link'%>
<% end %>
</p>
<%= link_to "Oops, lost password?", forgot_password_path%>
</div>
