<% content_for :body_class, 'welcome' %>

<div class='completions-bg-image'></div>

<div class='completions-page-content'>
<h1 class='recipes-i-made'>Recipes I Made ^v^</h1>
<%if @completions.any?%>
<div class='recipes-on-index'>
<%@completions.each do |c|%>
    <div class='individual-recipe'>
    <%recipe = Myrecipe.find(c.id)%>
    <h3 class='recipe-title-on-index'><%=recipe.title%></h3>
    <%hour = (recipe.cooking_time_in_min / 60).floor%>
    <%min = (recipe.cooking_time_in_min % 60)%>
    <%if hour == 0%>
    <small>ready in <%=min%> min</small>
    <%else%>
    <small>ready in <%=hour%> hr <%=min%> min</small>
    <%end%>
    <a href='/myrecipes/<%=recipe.id%>' class='recipe-image-on-index'><%= image_tag recipe.avatar.url(:medium)%></a>
    </div>
<%end%>
</div>
<%else%>
<h5>No completed recipes yet... better get cooking! =D</h5>
<%end%>
</div>