<% content_for :body_class, 'welcome' %>

<div class='completions-bg-image'></div>

<div class='completions-page-content'>
<h1 class='recipes-i-made'>Recipes I Made ^v^</h1>
<%if @completions.any?%>
<div class='recipes-on-index'>
<%@completions.each do |c|%>
    <div class='individual-recipe'>
    <%recipe = Myrecipe.find(c.id)%>
    <h3 class='recipe-title-on-index'><%=recipe.title%></h3>
    <div class='utensils-and-form'>
        <i class="fas fa-utensils fa-2x"></i>
        <%if current_user.mealplan.myrecipemealplanlinks.find_by(myrecipe: recipe)%>
        <%=form_with url: remove_from_mealplan_path, local: true do |f|%>
            <%= f.hidden_field :myrecipe_id, value: recipe.id %>
            <%= f.submit 'forget it!', class: 'button small'%>
        <%end%>
        <%else%>
        <%=form_with url: add_to_mealplan_path, local: true do |f|%>
            <%= f.hidden_field :myrecipe_id, value: recipe.id %>
            <%= f.submit 'cook it!', class: 'button small'%>
        <%end%>
        <%end%>
    </div>
    <%hour = (recipe.cooking_time_in_min / 60).floor%>
    <%min = (recipe.cooking_time_in_min % 60)%>
    <%if hour == 0%>
    <small>ready in <%=min%> min</small>
    <%elsif min == 0%>
    <small>ready in <%=hour%> hr</small>
    <%else%>
    <small>ready in <%=hour%> hr <%=min%> min</small>
    <%end%>
    <a href='/myrecipes/<%=recipe.id%>' class='recipe-image-on-index'><%= image_tag recipe.avatar.url(:medium)%></a>
    </div>
<%end%>
</div>
<%else%>
<h5>No completed recipes yet... better get cooking! =D</h5>
<%end%>
</div>