<% content_for :body_class, 'sign-up' %>

<h1 class='page-title'>Sign Up</h1>

<%= form_with model: @user, :html => { :multipart => true }, class: 'sign-up-form', local: true do |f| %>

<% if @user.errors.any? %>
<p>
    <%= @user.errors.full_messages.join(', ') %>
</p>
<% end %>
<div class='form-element'>
    <%= f.label :first_name, class: 'signin-form-label' %>
    <%= f.text_field :first_name, class: 'input-field' %>
</div>
<div class='form-element'>
    <%= f.label :last_name, class: 'signin-form-label' %>
    <%= f.text_field :last_name, class: 'input-field' %>
</div>
<div class='form-element'>
    <%= f.label :email, class: 'signin-form-label' %>
    <%= f.email_field :email, class: 'input-field' %>
</div>
<div class='form-element'>
    <%= f.label :password, class: 'signin-form-label' %>
    <%= f.password_field :password, class: 'input-field' %>
</div>
<div class='form-element'>
    <%= f.label :enter_password_again, class: 'signin-form-label' %>
    <%= f.password_field :password_confirmation, class: 'input-field' %>
</div>
<div class='form-element'>
    <%= f.file_field :avatar, class: 'file-upload' %>
</div>
<div class='button-wrapper'>
<%= f.submit "Sign Up", class: 'button'%>
</div>
<% end %>
