<% content_for :body_class, 'setting' %>

<h1 class='page-title'>Password Reset</h1>

<%if @msg.present?%>
<div class="flash flash-alert" style='text-align: center'>
  <%=@msg%>
  </div>
<%end%>

<%=form_with url: password_reset_path, method: :post, local: true do |f|%>
<div>
<%=f.label :email, class: 'signin-form-label'%>
<%=f.email_field :email, class: 'input-field'%>
</div>

<%if @user.present?%>
<div>
<%=f.label :new_pswd, class: 'signin-form-label'%>
<%=f.password_field :new_password, class: 'input-field'%>
</div>
<div>
<%=f.label :repeat_pswd, class: 'signin-form-label'%>
<%=f.password_field :password_confirmation, class: 'input-field'%>
</div>
<%end%>
<div>
<%=f.submit 'Submit', class: 'button'%>
</div>
<%end%>