<% content_for :body_class, 'setting' %>

<h1 class='page-title'>My Preferences</h1>

<% if current_user.errors.any?%>
<p style='text-align: center'><%=current_user.errors.full_messages.join('')%></p>
<%end%>

<div class='section-on-preferences'>
<!-- <h3 class='section-title-on-preferences'>Select dietary restrictions</h3> -->
<%=form_with model: @dietaryrestriction, local: true do |f|%>
<%= f.select :name, ['vegetarian', 'vegan', 'gluten free', 'dairy free', 'halal']%>
<%=f.submit class: 'button small'%>
<%end%>

<div class='restrictions-on-preferences'>
<% if @restrictions %>
<%@restrictions.each do |r|%>
<small class='restriction-on-preferences'><%=r.name%> <%=link_to 'x', delete_restriction_path(r), method: :delete%></small>
<%end%>
<%end%>
</div>
</div>

<div class='section-on-preferences'>
<!-- <h3 class='section-title-on-preferences'>Select categories</h3> -->
<%=form_with model: @user, local: true do |f|%>
<div class='tags-on-preferences'>
    <%=f.collection_check_boxes :tags, Tag.all, :id, :name do |b|%>
    <div class='tag-wrapper'>
        <label for="checkbox-input" class="input-helper input-helper--checkbox"></label>
        <%=b.check_box %>
        <%=b.text.humanize%>
    </div>
    <%end%>
</div>
<div class='restrictions-on-preferences'>
<%if current_user.tags%>
<%current_user.tags.each do |t|%>
<small class='restriction-on-preferences'><%=t.name%> <%=link_to 'x', delete_tag_path(t), method: :delete%></small>
<%end%>
<%end%>
</div>
</div>

<div>
<%=f.submit 'Save Preferences', class: 'button'%>
</div>
<%end%>

<script type="text/javascript">
    document.querySelector(".tags-on-preference").onclick = function(event) {
        event.target.classList.add('checked')
    }
</script>