<h1>User preferences</h1>

<% if current_user.errors.any?%>
<%current_user.errors.full_messages.each do |m|%>
<p><%=m%></p>
<%end%>
<%end%>

<h3>Select dietary restrictions</h3>
<%=form_with model: @dietaryrestriction, local: true do |f|%>
<%= f.select :name, ['vegetarian', 'vegan', 'gluten free', 'dairy free', 'halal']%>
<%=f.submit%>
<%end%>

<% if @restrictions %>
<%@restrictions.each do |r|%>
<p><%=r.name%> <%=link_to 'Delete', delete_restriction_path(r), method: :delete%></p>
<%end%>
<%end%>

<%=form_with model: @user, local: true do |f|%>
<div>
    <%=f.collection_check_boxes :tags, Tag.all, :id, :name do |b|%>
    <div class='tag-wrapper'>
        <%=b.check_box%>
        <%=b.text.humanize%>
    </div>
    <%end%>
</div>
<%=f.submit 'Save Preferences'%>
<%end%>

<%if current_user.tags%>
<%current_user.tags.each do |t|%>
<p><%=Tag.find(t).name%></p>
<%end%>
<%end%>