<% content_for :body_class, 'setting' %>

<div class='setting-page-content'>
<h1 class='preferences-page-title'>The Essentials :)</h1>
<%if current_user.errors.any?%>
<% current_user.errors.full_messages.each do |error|%>
<p><%=error%></p>
<%end%>
<%end%>

<%= form_with url: user_update_path, :html => { :multipart => true }, local: true do |f| %>
<div>
    <%= f.label :first_name, class: 'signin-form-label' %>
    <%= f.text_field :first_name, value: current_user.first_name, class: 'input-field' %>
</div>
<div>
    <%= f.label :last_name, class: 'signin-form-label' %>
    <%= f.text_field :last_name, value: current_user.last_name, class: 'input-field' %>
</div>
<div>
    <%= f.label :email, class: 'signin-form-label' %>
    <%= f.email_field :email, value: current_user.email, class: 'input-field' %>
</div>
<!-- <div>
    <p>Change your profile picture</p>
    <%= f.file_field :avatar %>
</div> -->
<div class='form-buttons'>
     <%=f.submit class: 'button'%>

<%=link_to 'Change Password', password_reset_path%> | 
<%= link_to 'Sign Out', session_path, method: :delete %>
</div>
</div>
<!-- <button type="button" id='change-password'>Change Password</button> -->
<!-- # <div id="change-password-form" class=<%= @errors.present? ? 'show' : 'hide' %>> 
#     <div>
#         <%=f.label :current_password%>
#         <%=f.password_field :password%>
#     </div>
#     <div>
#         <%=f.label :new_password_again%>
#         <%=f.password_field :password_confirmation%>
#     </div>
# </div>
# </div>
# <%end%>

# <script type="text/javascript">
#     document.getElementById("change-password").onclick = function () {
#         let x = document.getElementById("change-password-form");
#         if (x.style.display === "none") {
#             x.style.display = "block";
#         } else {
#             x.style.display = "none";
#         }
#     }
# </script> -->
