<h1>Password Reset</h1>

<%if @msg.present?%>
<div class="flash flash-alert">
  <%=@msg%>
  </div>
<%end%>

<%=form_with url: password_reset_path, method: :post, local: true do |f|%>
<div>
<%=f.label :email%>
<%=f.email_field :email, value: @user.email%>
</div>

<%if @user.present?%>
<div>
<%=f.label :new_password%>
<%=f.password_field :new_password%>
</div>
<div>
<%=f.label :new_password_again%>
<%=f.password_field :password_confirmation%>
</div>
<%end%>
<div>
<%=f.submit 'Submit'%>
</div>
<%end%>