<div>

<% if @myrecipe.errors.any? %>
<ul>
    <% @myrecipe.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @myrecipe, :html => { :multipart => true }, class: 'recipe-form', local: true do |f| %>
<div class='form-element'>
    <p class='recipe-form-label'><%= f.label :recipe_name %></p>
    <p><%= f.text_field :title, class: 'recipe-form-input' %></p>
</div>
<div class='form-element'>
    <p class='recipe-form-label'><%= f.label :cooking_time %></p>
    <small style='margin-bottom: 1em; text-align: center'>'1h20m' (one hour 20 minutes). '50m' (50 minutes). Round to the nearest 5 minutes.</small>
    <p><%= f.text_field :cooking_time_in_string, class: 'recipe-form-input' %></p>
</div>
<div class='form-element'>
    <p class='recipe-form-label'>Upload an image</p>
    <p><%= f.file_field :avatar%></p>
</div>
<div class='form-element'>
    <p class='recipe-form-label'><%= f.label :link_to_video %></p>
    <p><%= f.text_field :videoURL, class: 'recipe-form-input' %></p>
</div>
<div class='form-element'>
    <p class='recipe-form-label'><%= f.label :instructions %></p>
    <p><%= f.text_area :instructions, class: 'recipe-form-text-area' %></p>
</div>
<div class='form-element'>
<p class='recipe-form-label'>Recipe Tags</p>
<div class='tags'>
    <%=f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b|%>
    <div class='tag-wrapper'>
        <%=b.check_box%>
        <%=b.text.humanize%>
    </div>
    <%end%>
</div>
</div>

<%#=form_with url: add_tag_path, local: true do |t|%>
<%#=t.label :new_tags_separated_by_commas%>
<%#=t.text_field :new_tag%>
<%#end%>

<div class='form-element'>
<p class='recipe-form-label'>Dietary Restrictions</p>
<div>
    <%=f.collection_check_boxes :dietaryrestriction_ids, Dietaryrestriction.all, :id, :name do |b|%>
    <div class='tag-wrapper'>
        <%=b.check_box%>
        <%=b.text.humanize%>
    </div>
    <%end%>
</div>
</div>

<%= f.submit 'Save Recipe', class: 'button'%>
<% end %>

</div>