<% content_for :body_class, 'add-ingredients' %>

<div class='add-ingredients-bg-image'></div>

<div class='add-ingredients-page-content'>

<div class='align-on-add-ingredients'>

<h1 class='page-title'>Now add ingredients...</h1>

<%if @error%>
<p class='error'><%=@error%></p>
<%end%>

<%if @link&.errors&.any?%>
<p class='error'><%=@link.errors.full_messages.join('. ')%></p>
<%end%>

<%=form_with url: add_ingredients_path, local: true do |f|%>
<div class='add-ingredient-form'>
<div class='leftover-form-element'>
<%=f.label :name%>
<%=f.text_field :name, placeholder: "'pear', not 'pears'", class: 'leftover-input'%>
</div>
<div class='leftover-form-element'>
<%=f.label :quantity%>
<%=f.text_field :quantity, placeholder: "'1 1/2': one and a half", class: 'leftover-input'%>
</div>
<div class='leftover-form-element'>
<%=f.label :unit%>
<%=f.text_field :unit, placeholder: 'optional', class: 'leftover-input'%>
</div>
<div class='leftover-form-element'>
<%=f.submit class: 'button small black'%>
</div>
</div>
<%end%>

</div>

<div class='added-ingredients-and-ingredients'>
<h3>Added ingredients:</h3>
<%if @links%>

<ul class='ingredients'>
<%@links.each do |l|%>
<div class='button-wrapper'>
<li class='each-ingredient'>
    <div class='ingredient-info'><%=l.ingredient.name%>: <%=l.quantity%> <%=l.unit%></div>
    <i class="fas fa-pen"></i><%=link_to 'X', delete_ingredient_path(@myrecipe, l), style: 'font-weight: 900; padding: .5em', method: :delete%>
</li>
    <!-- <button class='button small black'>Edit</button><small><%=link_to 'Delete', delete_ingredient_path(@myrecipe, l), method: :delete%></small> -->
<li class='update-ingredient'>
    <%=form_with url: update_ingredient_path(@myrecipe, l), method: :patch, local: true do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name, value: l.ingredient.name, class: 'leftover-input'%>
    <%=f.label :quantity%>
    <%=f.text_field :quantity, value: l.quantity, class: 'leftover-input'%>
    <%=f.label :unit%>
    <%=f.text_field :unit, value: l.unit, class: 'leftover-input'%>
    <%=f.submit class: 'button small black'%>
    <%end%>
</li>
</div>
<%end%>
</ul>

<div style='padding: 1em'>
<%=link_to 'View your recipe', @myrecipe%>
</div>
</div>

<%end%>    
</div>

<script type="text/javascript">
    document.querySelectorAll(".update-ingredient").forEach(function(e) {
        e.style.display = 'none';
    });
    // document.querySelectorAll('.ingredient-info').forEach(function(e) {
    //     e.style.display = 'block';
    // });
    document.querySelectorAll(".fa-pen").forEach(function(i) {
        i.onclick = function (event) {
        event.target.closest('div').querySelector('.each-ingredient').style.display = 'none';
        event.target.closest('div').querySelector('.update-ingredient').style.display = 'block';
        // if (x.style.display === "none") {
        //     x.style.display = "block";
        //     y.style.display = 'none';
        // } else {
        //     x.style.display = "none";
        //     y.style.display = 'block';
        // }
        }
    });

    document.querySelector('nav').querySelectorAll('a').forEach(function(e) {
        e.style.color = 'black';
    })
</script>