<% content_for :body_class, 'myrecipe' %>

<div class='welcome-bg-image'></div>

<div class='recipe-header'>

<div class='page-title-and-icons'>
<h1 class='page-title'><%= @myrecipe.title%></h1>
<div class='icons-on-myrecipe'>
<% if current_user&.favourite_recipes&.include? @myrecipe%>
<i class="fas fa-heart" style='padding: .5em'></i>
<%= link_to "Meh", myrecipe_favourite_path(@myrecipe), method: :delete%>
<%else%>
<i class="far fa-heart" style='padding: .5em'></i>
<%= link_to 'Yas!', myrecipe_favourites_path(@myrecipe), method: :post%>
<%end%>
<div class='utensils-and-form'>
        <i class="fas fa-utensils"></i>
        <%if current_user&.mealplan&.myrecipemealplanlinks&.find_by(myrecipe: @myrecipe)%>
        <%=form_with url: remove_from_mealplan_path, local: true do |f|%>
            <%= f.hidden_field :myrecipe_id, value: @myrecipe.id %>
            <%= f.submit 'forget it!', class: 'button tiny'%>
        <%end%>
        <%else%>
        <%=form_with url: add_to_mealplan_path, local: true do |f|%>
            <%= f.hidden_field :myrecipe_id, value: @myrecipe.id %>
            <%= f.submit 'cook it!', class: 'button tiny'%>
        <%end%>
        <%end%>
        </div>
</div>
</div>
<p>Cooking Time: <%=@cooking_time%></p>
</div>

<div class='recipe-body'>

<!-- <div class='image-and-reviews'> -->
<div>
<% if @myrecipe.tags.any? %>
<p style='text-align: center'>Perfect For</p>
<div class='tags-on-myrecipe'>
<% @myrecipe.tags.each do |tag|%>
<%=link_to(
        tag.name,
        root_path(tag: tag.name),
        class: "tag-on-myrecipe"
    )%>
<%end%>
</div>
<%end%>
</div>
<%= image_tag @myrecipe.avatar.url(:medium), class: 'image-on-myrecipe' %>

<div class='admin-actions-on-myrecipe'>
<% if can?(:crud, @myrecipe) %>
<%= link_to 'Edit', edit_myrecipe_path(@myrecipe), class: 'admin-action-on-myrecipe'%>
<%= link_to 'Edit Ingredients', add_ingredients_path(@myrecipe), class: 'admin-action-on-myrecipe'%>
<%= link_to 'Delete', myrecipe_path(@myrecipe), method: :delete, data: {confirm: "Delete?"}, class: 'admin-action-on-myrecipe'%>

<% if @myrecipe.is_hidden%>
<%= link_to 'Publish', hide_recipe_path, method: :patch, class: 'admin-action-on-myrecipe'%>
<% else%>
<%= link_to 'Hide', hide_recipe_path, method: :patch, class: 'admin-action-on-myrecipe'%>
<%end%>

<%end%>
</div>
<!-- </div> -->

<div class='ingredients-and-instructions'>
    <button type="button" id='ingredients' class='button'>Ingredients</button>
    <ul id="ingredients-content">
        <%@links.each do |l|%>
        <li><%=l.ingredient.name%>: <%=l.quantity%> <%=l.unit%></li>
        <%end%>
    </ul>
    
    <button type="button" id='instructions' class='button'>Instructions</button>
    <div class='instructions-content' id="instructions-content">
    <ul>
    <%@instructions.each do |step|%>
    <li><%=step%></li>
    <%end%>
    </ul>
    <div style='text-align: center; margin-bottom: 2em'>
    <%if current_user.present?%>
    <% if current_user&.completed_recipes&.include? @myrecipe%>
    <%= link_to 'Completed!', myrecipe_completion_path(@myrecipe), method: :delete%>
    <%else%>
    <%= link_to 'Done?', myrecipe_completions_path(@myrecipe), method: :post%>
    <%end%>
    </div>
    <%end%>
    </div>
</div>

<button type="button" id='reviews' class='button'>Reviews</button>
<!-- <div id="reviews-content">
    <% @new = []%>
    <% @reviews.each do |review_each| %>
    <% r_stat = {:review => review_each, :popularity => review_each.likers}%>
    <%@new.push(r_stat)%>
    <%end%>
    <% @sorted_hashes = @new.sort_by{ |k| k[:popularity]}.reverse%>
    <% @sorted_by_popularity = @sorted_hashes.map {|e| e[:review] }%>
    <% @sorted_reviews = @sorted_by_popularity.sort_by{ |k| k[:created_at] }.reverse%>

<% @sorted_reviews.each do |r|%>
<div>
    <p><%=r.content%></p>
    <p>Answered by: <%=r.user.first_name%></p>
    
    <%if can?(:crud, r)%>
    <%= link_to 'Delete', myrecipe_review_path(@myrecipe, r), method: :delete, data: {confirm: "Delete Review?"}%>
    <%= link_to 'Edit', edit_myrecipe_review_review_path(@myrecipe, r)%>
    <%end%>

    <% if r&.likers&.include? current_user%>
    <%= link_to "Un-Like #{r.likes.count}", myrecipe_review_like_path(@myrecipe, r), method: :delete%>
    <%else%>
    <%= link_to "Like #{r.likes.count}", myrecipe_review_likes_path(@myrecipe, r), method: :post%>
    <%end%>
</div>
<% end %>
</div>  -->

<%= form_with(model: [@myrecipe, @review], local: true) do |f| %>

<% if @myrecipe.errors.any? %>
<ul>
    <% @myrecipe.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
    <% end %>
</ul>
<% end %>
<div class='form-group'>
    <%= f.text_area(:content, cols: 50, rows: 5, placeholder: "Share your experience of making this recipe...", class: "review-form-text-area") %>
</div>
<%= f.submit class: 'button small'%>

<ul class='review-list'>
    <% @reviews.each do |r| %>
    <li>
        <p style='margin-bottom: 1em'><%= r.content %></p>
        <%if r.user == current_user%>
        <small>Reviewed by Me <%= time_ago_in_words(r.created_at)%> ago</small>
        <small><%= link_to "Edit", myrecipe_review_path(@myrecipe)%></small>       
        <small><%= link_to "Delete", myrecipe_review_path(@myrecipe, r), method: :delete, data: {confirm: "Delete Review?"}%></small>
        <%else%>
        <small>Reviewed by <%=r.user.first_name%> <%= time_ago_in_words(r.created_at)%> ago</small>
        <%end%>
    </li>
    <% end %>
</ul>

<% end %>

</div>

<script type="text/javascript">
    document.getElementById("ingredients").onclick = function () {
        let x = document.getElementById("ingredients-content");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    let x = document.getElementById("instructions-content");
    x.style.display = 'none';
    document.getElementById("instructions").onclick = function () {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    let x = document.getElementById("reviews-content");
    x.style.display = 'none';
    document.getElementById("reviews").onclick = function () {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
$(document).ready(function() {
    $(".button:not(.tiny, .small)").css("background-color", "red");
})
</script>

<!-- <script type="text/javascript">
    $(document).ready(function() {
      $(".fa-utensils").click(function(event) {
            $(event.currentTarget).closest('div').find('form').removeClass("hide");
      });
    })
    </script> -->