<!DOCTYPE html>
<html>
  <head>
    <title>HappyFridge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body class="<%= content_for :body_class %>">
  <header>
  <nav>

<%= link_to 'Home', root_path %>
  <% if user_signed_in? %>
  Hello <%= current_user.first_name%>
  <%= image_tag current_user.avatar.url(:thumb) %>
  
  <div class='recipe-preferences'>
  <%= link_to 'Preferences', user_preferences_path %>
  <%= link_to 'Enable/Disable Store Specials', new_user_path %>
  <%= link_to 'Lunch/Dinner/Desserts', new_user_path %>
  </div>

  <% if current_user.is_admin%>
  <div class='admin-menu'>
  <%= link_to 'New Recipe', new_myrecipe_path%>
  <%= link_to 'View System Stats', new_user_path%>
  </div>
  <%end%>

<div class='account-preferences'>
  <%= link_to 'Favourite Recipes', favourites_path %>
  <%= link_to 'Completed Recipes', completions_path %>
  <%= link_to 'Account Settings', setting_path %>
  <%= link_to 'Sign Out', session_path, method: :delete %>
  </div>  
  <% else%>
  <%= link_to "Sign In", new_session_path%>
  <% end %>
  </nav>
  </header>
  <main>
  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
  <%= message%>
  </div>
  <% end %>
    <%= yield %>
    </main>
  </body>
</html>
