<!DOCTYPE html>
<html>
  <head>
    <title>HappyFridge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef152ad196.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body class="<%= content_for :body_class %>">
  <header>
  <nav>

  <div class='nav-menu'>
  <% if user_signed_in? %>
  <!-- Hello <%= current_user.first_name%> -->
  <% if current_user.is_admin%>
  <div class='admin-menu'>
    <%= link_to 'New Recipe!', new_myrecipe_path, class: 'menu-item'%>
    <!-- <%= link_to 'View System Stats', new_user_path%> -->
  </div>
  <%end%>

<a href='/'><i class="fas fa-concierge-bell fa-2x menu-item"></i></a>
<div class='retractable-menu'>
    <i class="far fa-calendar-alt fa-2x menu-item"></i>
    <div class='hide visually-hidden retractable-menu-items' id='mealplan-menu' >
      <%=link_to 'Meal Plan', user_mealplan_path(current_user, current_user.mealplan), class: 'menu-item'%> 
      <%= link_to 'Groceries', groceries_path, class: 'menu-item' %>
    </div>
</div>

<div class='retractable-menu'>
  <i class="fas fa-user-circle fa-2x menu-item"></i>
  <div class='hide visually-hidden retractable-menu-items' id='preferences-menu' >
    <%= link_to 'Preferences', user_preferences_path, class: 'menu-item' %>
    <%= link_to 'Account', setting_path, class: 'menu-item' %>
    <%= link_to 'Favourites', favourites_path, class: 'menu-item' %>
    <%= link_to 'Dishes I made!', completions_path, class: 'menu-item' %>
  </div>
    <!-- <%= link_to 'Enable/Disable Store Specials', new_user_path %> -->
    <!-- <%= link_to 'Lunch/Dinner/Desserts', new_user_path %> -->
</div>
<a href='/add_leftover' class='drumstick'><i class="fas fa-drumstick-bite fa-2x menu-item" id='drumstick'></i></a>
</div>

<%else%>
<a href='/'><i class="fas fa-concierge-bell fa-2x menu-item"></i></a>
<%= link_to "Sign In", new_session_path, class: 'menu-item'%>
<%end%>

  </nav>
  </header>
  <main>
  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>" style='text-align: center; margin-top: 1em'>
  <%= message%>
  </div>
  <% end %>
    <%= yield %>
    </main>
  </body>
</html>

<!-- {/* <script type="text/javascript">
  let x = document.getElementById("retractable-menu");
  x.style.display = 'none';
  document.getElementById("drumstick").onclick = function () {
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
  }
</script> */} -->

<script type="text/javascript">
  $(document).ready(function() {
    const pages = ['setting', 'sign-in', 'sign-up', 'forgot-password', 'new-recipe'];
    if (!pages.includes($('body').attr('class'))) {
      const menuPreferences = $("#preferences-menu");
      const iconPreferences = $(".fa-user-circle");

      iconPreferences.click(function(event) {
        iconPreferences.css("color", "red");
        $('.retractable-menu-items').each(function(k,v) {
          $(this).addClass('hide');
        })
        $('.fa-calendar-alt').css("color", "black");
        menuPreferences.removeClass("hide");
        setTimeout(function() {
          menuPreferences.removeClass('visually-hidden');
        }, 300);
      });

      // menuPreferences.mouseleave(function(event) {
      //   menuPreferences.addClass('visually-hidden');
      //   menuPreferences.one('transitionend', function(e) {
      //     menuPreferences.addClass('hide');
      //     iconPreferences.css("color", "black");
      //   });
      // });

      const menuMealplan = $("#mealplan-menu");
      const iconMealplan = $(".fa-calendar-alt")

      iconMealplan.click(function(event) {
        iconMealplan.css("color", "red");
        $('.retractable-menu-items').each(function(k,v) {
          $(this).addClass('hide');
        })
        $('.fa-user-circle').css("color", "black");
        menuMealplan.removeClass("hide");
        setTimeout(function() {
          menuMealplan.removeClass('visually-hidden');
        }, 300);
      });

      // menuMealplan.mouseleave(function(event) {
      //   menuMealplan.addClass('visually-hidden');
      //   menuMealplan.one('transitionend', function(e) {
      //     menuMealplan.addClass('hide');
      //     iconMealplan.css("color", "black");
      //   });
      // });
    } else {
      $(document).css("color", "white");
      $(".drumstick").css("color", "white");
      $('.fa-concierge-bell').css("color", "white");

      const menuPreferences = $("#preferences-menu");
      const iconPreferences = $(".fa-user-circle");

      iconPreferences.click(function(event) {
        iconPreferences.css("color", "red");
        $('.retractable-menu-items').each(function(k,v) {
          $(this).addClass('hide');
        })
        $('.fa-calendar-alt').css("color", "white");
        menuPreferences.removeClass("hide");
        setTimeout(function() {
          menuPreferences.removeClass('visually-hidden');
        }, 300);
      });

      // menuPreferences.mouseleave(function(event) {
      //   menuPreferences.addClass('visually-hidden');
      //   menuPreferences.one('transitionend', function(e) {
      //     menuPreferences.addClass('hide');
      //     iconPreferences.css("color", "white");
      //   });
      // });

      const menuMealplan = $("#mealplan-menu");
      const iconMealplan = $(".fa-calendar-alt")

      iconMealplan.click(function(event) {
        iconMealplan.css("color", "red");
        $('.retractable-menu-items').each(function(k,v) {
          $(this).addClass('hide');
        })
        $('.fa-user-circle').css("color", "white");
        menuMealplan.removeClass("hide");
        setTimeout(function() {
          menuMealplan.removeClass('visually-hidden');
        }, 300);
      });

      // menuMealplan.mouseleave(function(event) {
      //   menuMealplan.addClass('visually-hidden');
      //   menuMealplan.one('transitionend', function(e) {
      //     menuMealplan.addClass('hide');
      //     iconMealplan.css("color", "white");
      //   });
      // });
    }
    

    // $(".fa-user-circle").hover(function() {
    //   if (menu.hasClass('hide')) {
    //     menu.removeClass('hide');
    //     setTimeout(function() {
    //       menu.removeClass('visually-hidden');
    //     }, 300);
    //   } else {
    //     menu.addClass('visually-hidden');
    //     menu.one('transitionend', function(e) {
    //       menu.addClass('hide');
    //     });
    //   }
    // }) 
  })
  </script>